.imagetexttwo {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0 42px;
    margin: 0 auto 20px;
    max-width: 1024px;
}

.imagetexttwo > div:first-child {
    text-transform: uppercase;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 40px;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    font-family: Gotham, Arial, sans-serif;
    font-style: normal;
    letter-spacing: 1.5px;
    font-weight: 510;
    font-size: 1.5rem;
}

.imagetexttwo > div:nth-child(2) {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0 42px;
    max-width: 1024px;
    margin-bottom: 60px;
    align-items: center;
}

.imagetexttwo > div:nth-child(2) > :first-child {
    font-family: Gotham, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.015em;
    font-size: 0.875rem;
    line-height: 1.7;
    color: var(--date-color);
    font-weight: 300;
    width: calc(49.995% - 15px);
    flex: 0 0 auto;
    margin-inline-end: 30px;
}
  

.imagetexttwo > div:nth-child(2) > :last-child {
    font-family: Gotham, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.015em;
    font-size: 0.875rem;
    line-height: 1.7;
    color: var(--date-color);
    font-weight: 300;
    width: calc(49.995% - 15px);
    flex: 0 0 auto;
}
  