.headingtext {
    text-align: center;
    margin-bottom: 40px;
}

.headingtext > div:first-child {
    margin-bottom: 25px;
    font-size: 2.25rem;
    font-family: Gotham, Arial, sans-serif;
    font-style: normal;
    letter-spacing: 1.5px;
    font-weight: 500;
    text-transform: uppercase;
}

.headingtext > div:not(:first-child) {
    font-family: Gotham, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.015em;
    font-size: 0.875rem;
    line-height: 1.4286;
    color: var(--date-color);
    font-weight: 300;
}